pipeline/pi_fail_activity.json
{
	"name": "pi_fail_activity",
	"properties": {
		"activities": [
			{
				"name": "act_get_metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_bloob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_get_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_get_metadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "child item",
								"value": {
									"value": "@variables('aappend')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "aappend",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_if_cond",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(pipeline().parameters.file_name,variables('child item'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "act_fail",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": "file_not_found_issue",
											"errorCode": "101"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "act_set_var",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "value_found",
											"value": "file_found"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"file_name": {
				"type": "string"
			}
		},
		"variables": {
			"value_found": {
				"type": "String"
			},
			"child item": {
				"type": "Array"
			},
			"aappend": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ASSIGMENT_SESSION"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-24T04:00:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}